@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@400;500;600;700&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-judson: 'Judson', serif;
  --font-cormorant-garamond: 'Cormorant Garamond', serif;
}

.ql-editor{
    @apply text-lg p-4
}

body {
    font-family: "Noto Sans", sans-serif;;
}

.quill {
    min-height: 300px;
}

.blog-card .quill {
    min-height: 50px;
}

.blog-card .ql-editor {
    padding: 0;
}

.blog-card .ql-editor p,
.blog-card .ql-editor h1,
.blog-card .ql-editor h2,
.blog-card .ql-editor h3
{
    @apply text-base
}


.ql-editor h1 {
  @apply leading-none
}

.publish-page .ql-container {
  overflow-y: auto; 
  max-height: 400px; 
}

.title{
  font-family: var(--font-cormorant-garamond);
  font-weight: 900;
}

.author {
  font-family: var(--font-judson);
}